In [1]:
#Import Dependencies
import pandas as pd
import requests
import gmaps

#Import API Key
from config import g_key

In [2]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/Challenge_Data/WeatherPy_Challenge.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description,Rain inches last 3 hours,Snow inches last 3 hours
0,0,Katsuura,35.13,140.30,54.00,40,75,9.17,JP,2020-02-24 00:55:24,broken clouds,0.00,0.0
1,1,Punta Arenas,-53.15,-70.92,46.40,70,75,34.45,CL,2020-02-24 00:58:29,broken clouds,0.00,0.0
2,2,Butaritari,3.07,172.79,85.03,76,68,16.37,KI,2020-02-24 00:58:30,moderate rain,3.94,0.0
3,3,Springdale,36.19,-94.13,48.20,100,90,8.05,US,2020-02-24 00:56:05,light rain,0.00,0.0
4,4,Fairbanks,64.84,-147.72,0.00,70,20,4.70,US,2020-02-24 00:55:36,few clouds,0.00,0.0

In [4]:
# Ask the customer for preferences
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_want = str(input("Do you want it to be raining? (yes/no) "))
snow_want= str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
for index, row in city_data_df.iterrows():
    if rain_want == "no":
        rain_inches=city_data_df["Rain inches last 3 hours"] ==0
    else:
        rain_inches=city_data_df["Rain inches last 3 hours"] !=0
    if snow_want == "no":
        snow_inches=city_data_df["Snow inches last 3 hours"] ==0
    else:
        snow_inches=city_data_df["Snow inches last 3 hours"] !=0

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain inches last 3 hours"] != rain_want) &
                                       (city_data_df["Snow inches last 3 hours"] != snow_want)]
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df

C:\Users\hhngu\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:252: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description,Rain inches last 3 hours,Snow inches last 3 hours
1,1,Atuona,-9.80,-139.03,81.61,76,8,13.73,PF,2020-02-23 21:43:44,clear sky,0.0,0.0
3,3,Yenagoa,4.92,6.26,82.53,77,100,5.57,NG,2020-02-23 21:46:26,overcast clouds,0.0,0.0
5,5,Saint-Philippe,-21.36,55.77,75.20,78,0,6.93,RE,2020-02-23 21:46:26,clear sky,0.0,0.0
7,7,Isangel,-19.55,169.27,78.76,76,40,14.54,VU,2020-02-23 21:44:05,scattered clouds,0.0,0.0
9,9,Mar Del Plata,-38.00,-57.56,77.00,50,20,11.41,AR,2020-02-23 21:41:53,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,523,Morant Bay,17.88,-76.41,84.20,62,75,12.75,JM,2020-02-23 21:48:25,broken clouds,0.0,0.0
525,525,Muncar,-8.43,114.33,79.84,81,34,4.65,ID,2020-02-23 21:48:26,scattered clouds,0.0,0.0
527,527,Baillif,16.02,-61.75,82.40,61,40,6.93,GP,2020-02-23 21:48:26,scattered clouds,0.0,0.0
534,534,Santa Maria,-29.68,-53.81,78.80,47,0,10.29,BR,2020-02-23 21:48:28,clear sky,0.0,0.0
541,541,Acapulco,16.86,-99.89,84.20,74,5,11.41,MX,2020-02-23 21:45:02,clear sky,0.0,0.0

In [7]:
preferred_cities_df.count()

Unnamed: 0                  157
City                        157
Lat                         157
Lng                         157
Max Temp                    157
Humidity                    157
Cloudiness                  157
Wind Speed                  157
Country                     157
Date                        157
Description                 157
Rain inches last 3 hours    157
Snow inches last 3 hours    157
dtype: int64

In [8]:
hotel_df = preferred_cities_df[["City", "Country", "Description","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Description,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,clear sky,81.61,-9.80,-139.03,
3,Yenagoa,NG,overcast clouds,82.53,4.92,6.26,
5,Saint-Philippe,RE,clear sky,75.20,-21.36,55.77,
7,Isangel,VU,scattered clouds,78.76,-19.55,169.27,
9,Mar Del Plata,AR,few clouds,77.00,-38.00,-57.56,
...,...,...,...,...,...,...,...
523,Morant Bay,JM,broken clouds,84.20,17.88,-76.41,
525,Muncar,ID,scattered clouds,79.84,-8.43,114.33,
527,Baillif,GP,scattered clouds,82.40,16.02,-61.75,
534,Santa Maria,BR,clear sky,78.80,-29.68,-53.81,
541,Acapulco,MX,clear sky,84.20,16.86,-99.89,

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
  
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df

,City,Country,Description,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,clear sky,81.61,-9.80,-139.03,Villa Enata
3,Yenagoa,NG,overcast clouds,82.53,4.92,6.26,Amba Hotels Limited
5,Saint-Philippe,RE,clear sky,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
7,Isangel,VU,scattered clouds,78.76,-19.55,169.27,Volcano Sea View Tree House
9,Mar Del Plata,AR,few clouds,77.00,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
...,...,...,...,...,...,...,...
523,Morant Bay,JM,broken clouds,84.20,17.88,-76.41,Whispering Bamboo Cove Resort
525,Muncar,ID,scattered clouds,79.84,-8.43,114.33,Zaky Homestay
527,Baillif,GP,scattered clouds,82.40,16.02,-61.75,Chambres Bougainvilliers Vue Mer
534,Santa Maria,BR,clear sky,78.80,-29.68,-53.81,Hotel Morotin
541,Acapulco,MX,clear sky,84.20,16.86,-99.89,Crowne Plaza Acapulco

In [12]:
#Create and export CSV file
output_file="weather_data/Challenge_Data/WeatherPy_vacation.csv"
city_data_df.to_csv(output_file, index_label="City_ID")

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))