In [1]:
#Import dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2020-02-23 08:30:14,-21.20,-175.20,80.60,83,75,10.29
1,1,Hualmay,PE,2020-02-23 08:30:25,-11.10,-77.61,71.62,73,99,1.99
2,2,Hobart,AU,2020-02-23 08:30:25,-42.88,147.33,68.00,68,75,18.34
3,3,Ushuaia,AR,2020-02-23 08:30:25,-54.80,-68.30,48.20,70,40,25.28
4,4,Disa,IN,2020-02-23 08:30:25,24.25,72.17,91.06,16,0,6.80

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Method 1

#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#1. Assign the locations to an array of latitude and longitutde pairs.
#locations=city_data_df[["Lat","Lng"]]

#2. Assign the weights variable to some values.
#get the maximum temperature
#max_temp =city_data_df["Max Temp"]

#3. Assign the figure variable to the gmaps.figure() attribute.
#fig=gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribue and add in the locations.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)


#5. Add the heatmap layer.
#fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
#fig

In [6]:
#Method 2

#1. Assign the locations to an array of latitude and longitutde pairs.
#locations=city_data_df[["Lat","Lng"]]

#2. Assign the weights variable to some values.
#get the maximum temperature
#max_temp =city_data_df["Max Temp"]

#3. Assign the figure variable to the gmaps.figure() attribute.
#fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribue and add in the locations.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])


#5. Add the heatmap layer.
#fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
#fig

In [7]:
#Method 3
#1. Assign the locations to an array of latitude and longitutde pairs.
locations=city_data_df[["Lat","Lng"]]

#2. Assign the weights variable to some values.
#get the maximum temperature
max_temp =city_data_df["Max Temp"]

#3. Assign the figure variable to the gmaps.figure() attribute.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribue and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 

#5. Add the heatmap layer.
fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2020-02-23 08:30:14,-21.20,-175.20,80.60,83,75,10.29
8,8,Hithadhoo,MV,2020-02-23 08:30:26,-0.60,73.08,82.92,78,85,15.14
20,20,Hermanus,ZA,2020-02-23 08:30:29,-34.42,19.23,79.00,59,0,11.01
21,21,Kotido,UG,2020-02-23 08:30:29,2.98,34.13,89.56,26,2,21.50
23,23,Arona,ES,2020-02-23 08:30:30,28.10,-16.68,75.20,31,10,24.16
...,...,...,...,...,...,...,...,...,...,...
561,561,Yanam,IN,2020-02-23 08:32:35,16.73,82.22,89.60,55,20,4.70
569,569,Pochutla,MX,2020-02-23 08:29:54,15.74,-96.47,80.65,68,0,4.79
572,572,Black River,JM,2020-02-23 08:32:37,18.03,-77.85,77.00,78,40,4.70
576,576,Mitsamiouli,KM,2020-02-23 08:32:38,-11.38,43.28,87.80,79,40,9.17
578,578,Abonnema,NG,2020-02-23 08:32:39,4.71,6.79,84.20,79,20,3.36

In [13]:

preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp    Lat     Lng Hotel Name
0          Vaini      TO     80.60 -21.20 -175.20
8      Hithadhoo      MV     82.92  -0.60   73.08
20      Hermanus      ZA     79.00 -34.42   19.23
21        Kotido      UG     89.56   2.98   34.13
23         Arona      ES     75.20  28.10  -16.68
..           ...     ...       ...    ...     ...        ...
561        Yanam      IN     89.60  16.73   82.22
569     Pochutla      MX     80.65  15.74  -96.47
572  Black River      JM     77.00  18.03  -77.85
576  Mitsamiouli      KM     87.80 -11.38   43.28
578     Abonnema      NG     84.20   4.71    6.79

[160 rows x 6 columns]

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
  
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

KeyboardInterrupt:

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
8,Hithadhoo,MV,82.92,-0.60,73.08,Scoop Guest House
20,Hermanus,ZA,79.00,-34.42,19.23,Misty Waves Boutique Hotel
21,Kotido,UG,89.56,2.98,34.13,Loware Joseph Mukasa's Residence
23,Arona,ES,75.20,28.10,-16.68,Paradise Court
...,...,...,...,...,...,...
561,Yanam,IN,89.60,16.73,82.22,The Regency Hotel
569,Pochutla,MX,80.65,15.74,-96.47,Hotel Posada San Jose
572,Black River,JM,77.00,18.03,-77.85,Idlers' Rest Beach Hotel
576,Mitsamiouli,KM,87.80,-11.38,43.28,Foyer ADM
578,Abonnema,NG,84.20,4.71,6.79,Corper's Lodge Obonoma

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))