In [1]:
#Import dependencies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2020-02-23 06:06:03,70.63,147.92,-12.41,97,100,2.21
1,1,Jamestown,US,2020-02-23 06:06:03,42.10,-79.24,37.00,54,1,9.17
2,2,Busselton,AU,2020-02-23 06:06:03,-33.65,115.33,87.01,29,99,8.97
3,3,Korla,CN,2020-02-23 06:06:04,41.76,86.15,46.99,50,35,4.00
4,4,Castro,BR,2020-02-23 06:06:04,-24.79,-50.01,55.99,88,88,7.56

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#1. Assign the locations to an array of latitude and longitutde pairs.
locations=city_data_df[["Lat","Lng"]]

#2. Assign the weights variable to some values.
#get the maximum temperature
max_temp =city_data_df["Max Temp"]

#3. Assign the figure variable to the gmaps.figure() attribute.
fig=gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribue and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)


#5. Add the heatmap layer.
fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))